Repository etalab-ia/franceservices-backend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:llm:gpt4all, build:llm:vllm

build:llm:gpt4all:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - 'docker login --username gitlab-ci-token --password $CI_JOB_TOKEN $CI_REGISTRY
  
    docker build --rm --file ./llm/gpt4all/Dockerfile --tag ${CI_REGISTRY_IMAGE}/gpt4all:${CI_GPT4ALL_IMAGE_TAG} ./llm/gpt4all
  
  ...

build:llm:vllm:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - 'docker login --username gitlab-ci-token --password $CI_JOB_TOKEN $CI_REGISTRY
  
    docker build --rm --file ./llm/vllm/Dockerfile --tag ${CI_REGISTRY_IMAGE}/vllm:${CI_VLLM_IMAGE_TAG} ./llm/vllm
  
  ...

fix: fix tiny-albert local path issue for local execution, add Spacy as dependency
  api/app/.env.example
  api/app/config.py
  api/pyproject.toml
  api/requirements.txt
Due: none

feat(deploy): add llm local deployment
  .gitlab-ci.yml
  docs/deploiement/README.md
  llm/README.md
  llm/deploy.sh
  llm/gpt4all/app.py
  llm/setup.sh
  pyalbert/README.md
  pyalbert/albert.py
  pyalbert/models/_download_models.py
  setup/.env.example
  setup/Dockerfile
  setup/README.md
  setup/docker-compose.yaml
  utils/launch_local_llm.sh
Due: build:llm:gpt4all

docs: add documentation to configure lcoal nginx
  README.md
  docs/deploiement/README.md
Due: none

fix: postprocessing stream fix, path fix, integrating postprocessing to pyalbert module
  api/app/config.py
  api/app/endpoints/stream.py
  api/test.py
  postprocessing/__init__.py
  pyalbert/postprocessing/__init__.py
  pyalbert/postprocessing/_postprocessing.py
  pyalbert/requirements.txt
  sourcing/__init__.py
Due: none

feat: #81 update api dockerfile and clean api ci/cd
  .gitlab-ci.yml
  api/Dockerfile
  api/src/api/__init__.py
  api/tests/__init__.py
  docs/deploiement/README.md
Due: none

docs: fix merge issue and fix some documentation errors
  docs/deploiement/README.md
Due: none

style: sort imports in app/endpoints/stream.py
  api/app/endpoints/stream.py
Due: none

feat: add databases deployment in ci/cd
  .gitlab-ci.yml
  databases/README.md
  databases/docker-compose.yml
  docs/deploiement/README.md
  docs/deploiement/environments.md
  llm/deploy.sh
  pyalbert/albert.py
Due: none

feat: don't download Tiny Albert model locally automatically but explain to do it with pyalbert script
  api/app/config.py
Due: none

minor: fix Readme typo
  README.md
Due: none

fix: add endpoints.stream returned type hints.
  api/app/endpoints/chat.py
  api/app/endpoints/stream.py
Due: none

fix: remove deprecated commons.prompt_base.py
  commons/prompt_base.py
  tests/prompt.py
Due: none

fixfeat: change VLLM_ROUTING_TABle to LLM_TABLE env variable
  api/app/config.py
  commons/api.py
  commons/prompt.py
Due: none

feat: add get_templates_file to llm api
  api/app/config.py
  commons/api.py
  commons/prompt.py
  llm/gpt4all/app.py
  llm/vllm/app.py
Due: build:llm:gpt4all, build:llm:vllm

fix: load routing table in llm driver + typos fix
  Makefile
  api/app/config.py
  api/app/schemas/stream.py
  commons/api.py
  commons/prompt.py
  docs/prompt.md
  llm/gpt4all/app.py
  llm/vllm/app.py
Due: build:llm:gpt4all, build:llm:vllm

fix: make_prompt + revert ENV/DEV test.
  api/app/config.py
  api/app/core/embeddings.py
  api/app/endpoints/stream.py
  api/test.py
  commons/prompt.py
Due: none

fix: pass MODEL_REPO_ID to llm API.
  llm/deploy.sh
  llm/gpt4all/app.py
  llm/vllm/app.py
Due: build:llm:gpt4all, build:llm:vllm

fix/llm: get MODEL_REPO_ID from env
  llm/gpt4all/app.py
  llm/vllm/app.py
Due: build:llm:gpt4all, build:llm:vllm

fix/llm: pass MODEL_REPO_ID env var through docker file.
  llm/deploy.sh
Due: none

fix: make api model_name agnostic + handle mode=None as basic prompt + remove user_txt
  api/app/core/llm.py
  api/app/schemas/stream.py
  api/app/tests/utils/stream.py
  commons/prompt.py
Due: none

feat: add the /models route to fetch the model supported by the albert API.
  api/app/endpoints/misc.py
  api/app/main.py
Due: none

fixfeat: handle system prompt for llama2-chat format.
  commons/prompt.py
Due: none

feat: add chatml prompt formatting
  commons/prompt.py
Due: none

Update the staging routing table
  pyalbert/config/llm_routing_table.staging.json
Due: none

feat(deploy): add dynamic api deployment
  .gitlab-ci.yml
  api/alembic/env.py
  api/alembic/legacy_version_1/0af622cc7d70_v5.py
  api/alembic/legacy_version_1/2f54c357b7fe_v4.py
  api/alembic/legacy_version_1/8079b4c73914_v3_1.py
  api/alembic/legacy_version_1/8e2a9a682bab_v4_fix.py
  api/app/db/session.py
  api/deploy.sh
  llm/deploy.sh
  llm/gpt4all/requirements.txt
  llm/setup.sh
  llm/test.sh
  llm/vllm/app.py
  llm/vllm/requirements.txt
  pyalbert/config/llm_routing_table.prod.json
  pyalbert/config/llm_routing_table.staging.json
Due: build:llm:gpt4all, build:llm:vllm

fix: fix get prompt template endpoints
  api/Dockerfile
  api/deploy.sh
  commons/api.py
  commons/prompt.py
  docs/deploiement/README.md
  llm/gpt4all/app.py
  llm/gpt4all/requirements.txt
  llm/vllm/app.py
  llm/vllm/requirements.txt
  pyalbert/config/llm_routing_table.staging.json
Due: build:llm:gpt4all, build:llm:vllm

feat: enable passing history to make_prompt [WIP]
  Makefile
  api/app/endpoints/stream.py
  api/app/models/stream.py
  api/app/schemas/stream.py
  commons/prompt.py
Due: none

fix/llm: aloows vllm to receive model as an absolute path OR a repo_id
  commons/api.py
  llm/vllm/app.py
Due: build:llm:vllm

fix/schema: test validity of model_name against the LLM_TABLE
  api/app/schemas/stream.py
  api/test.py
Due: none

fix/prompt: fix make_variables function
  api/app/endpoints/stream.py
  api/test.py
  commons/prompt.py
Due: none

fixfeat: make formatting conversationnal prompt great again
  api/app/endpoints/stream.py
  commons/prompt.py
Due: none

Add alembic revision
  api/alembic/versions/1513c97a0139_v02_27_24.py
Due: none

revert: remove the warning print about tiny albert missing.
  api/app/config.py
Due: none

feat: add a env option to disble cuda
  api/app/.env.example
  api/app/config.py
Due: none

fix: make get_prompt_config accept the first valid files.
  llm/vllm/app.py
Due: build:llm:vllm

fix: connection to database with environment variables
  api/app/config.py
  api/app/core/indexes.py
  api/deploy.sh
  docs/deploiement/README.md
Due: none

clean: remove useless import
  api/app/config.py
Due: none

clean: remove pylint comments
  api/app/models/chat.py
  api/app/models/feedback.py
  api/app/models/login.py
  api/app/models/stream.py
  api/app/models/user.py
  api/app/tests/conftest.py
  api/app/tests/test_class.py
  api/app/tests/utils/chat.py
  api/app/tests/utils/feedback.py
  api/app/tests/utils/login.py
  api/app/tests/utils/stream.py
  api/app/tests/utils/user.py
Due: none

fix: remove DISABLED_RAG
  api/app/config.py
  docs/deploiement/README.md
Due: none

clean: clean example nginx conf file
  contrib/nginx/albert.conf
Due: none

Path conditions:
  build:llm:gpt4all: any of: llm/gpt4all/**/*
  build:llm:vllm: any of: llm/vllm/**/*
